In [1]:
import numpy as np
import pandas as pd
from keras.models import load_model

Using TensorFlow backend.

In [2]:
test_features = pd.read_csv("dengue_features_test.csv", index_col=[0,1,2]) 
train_features = pd.read_csv("dengue_features_train.csv", index_col=[0,1,2]) 
train_labels = pd.read_csv("dengue_labels_train.csv", index_col=[0,1,2]) 
submission_format = pd.read_csv("submission_format.csv", index_col=[0,1,2])

In [3]:
select_features = ['reanalysis_specific_humidity_g_per_kg', 
                 'reanalysis_dew_point_temp_k', 
                 'station_avg_temp_c', 
                 'station_min_temp_c', 'week_start_date']

## Only SJ Columns

In [4]:
# Seperate data for San Juan
sj_train_features = train_features.loc['sj']
sj_train_labels = train_labels.loc["sj"]
sj_test_features = test_features.loc["sj"]

In [5]:
#removing NaNs
sj_train_features.fillna(0, inplace=True)
sj_test_features.fillna(0, inplace=True)

c:\users\milla\projects\databears\lib\site-packages\pandas\core\frame.py:4259: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

In [6]:
sj_train_features.set_index("week_start_date")
sj_test_features.set_index("week_start_date")

,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_max_air_temp_k,reanalysis_min_air_temp_k,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
week_start_date,,,,,,,,,,,,,,,,,,,,
2008-04-29,-0.01890,-0.018900,0.102729,0.091200,78.60,298.492857,298.550000,294.527143,301.1,296.4,25.37,78.781429,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2
2008-05-06,-0.01800,-0.012400,0.082043,0.072314,12.56,298.475714,298.557143,294.395714,300.8,296.7,21.83,78.230000,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3
2008-05-13,-0.00150,0.000000,0.151083,0.091529,3.66,299.455714,299.357143,295.308571,302.2,296.4,4.12,78.270000,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0
2008-05-20,0.00000,-0.019867,0.124329,0.125686,0.00,299.690000,299.728571,294.402857,303.0,296.9,2.20,73.015714,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3
2008-05-27,0.05680,0.039833,0.062267,0.075914,0.76,299.780000,299.671429,294.760000,302.3,297.3,4.36,74.084286,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-03-26,-0.08740,-0.016183,0.156343,0.105186,30.34,298.670000,298.885714,294.675714,301.3,296.4,2.55,78.780000,30.34,15.985714,3.314286,27.542857,7.942857,33.9,22.8,3.5
2013-04-02,-0.20325,-0.077833,0.204171,0.178914,6.55,298.035714,298.157143,294.628571,301.5,295.9,64.30,81.650000,6.55,15.881429,2.828571,26.642857,6.642857,33.3,22.8,17.6
2013-04-09,-0.11760,-0.008200,0.192700,0.170429,0.00,299.057143,299.328571,294.948571,301.5,297.5,0.70,78.285714,0.00,16.212857,3.171429,27.914286,8.114286,32.8,23.3,9.4
2013-04-16,0.08275,0.031200,0.135014,0.074857,0.00,298.912857,299.064286,294.678571,300.9,297.3,1.40,77.674286,0.00,15.965714,3.042857,27.728571,6.942857,31.7,23.9,22.9
2013-04-23,-0.08730,-0.048667,0.129814,0.117671,45.47,298.067143,298.042857,294.132857,300.2,296.6,19.90,79.045714,45.47,15.451429,2.342857,26.442857,6.742857,31.1,21.7,47.5

In [7]:
#removing NaNs - test

sj_train_features.isnull().sum()
# sj_train_features

week_start_date                          0
ndvi_ne                                  0
ndvi_nw                                  0
ndvi_se                                  0
ndvi_sw                                  0
precipitation_amt_mm                     0
reanalysis_air_temp_k                    0
reanalysis_avg_temp_k                    0
reanalysis_dew_point_temp_k              0
reanalysis_max_air_temp_k                0
reanalysis_min_air_temp_k                0
reanalysis_precip_amt_kg_per_m2          0
reanalysis_relative_humidity_percent     0
reanalysis_sat_precip_amt_mm             0
reanalysis_specific_humidity_g_per_kg    0
reanalysis_tdtr_k                        0
station_avg_temp_c                       0
station_diur_temp_rng_c                  0
station_max_temp_c                       0
station_min_temp_c                       0
station_precip_mm                        0
dtype: int64

In [8]:
sj_train_labels["week_start_date"] = sj_train_features["week_start_date"]

In [9]:
sj_train_labels.set_index("week_start_date")

                 total_cases
week_start_date
1990-04-30                 4
1990-05-07                 5
1990-05-14                 4
1990-05-21                 3
1990-05-28                 6
...                      ...
2008-03-25                 4
2008-04-01                 3
2008-04-08                 1
2008-04-15                 3
2008-04-22                 5

[936 rows x 1 columns]

In [10]:
sj_train_features = sj_train_features[select_features]

In [11]:
# data normalization
from sklearn.preprocessing import MinMaxScaler
sc_X = MinMaxScaler(feature_range=(0,1))
sc_Y = MinMaxScaler(feature_range=(0,1))
sj_train_features_scaled = sc_X.fit_transform(sj_train_features.drop(columns = ["week_start_date"]))
sj_train_labels_scaled = sc_Y.fit_transform(np.reshape(sj_train_labels["total_cases"].tolist(), (936, 1)))

In [12]:
sj_train_features_scaled

array([[0.72082598, 0.98192913, 0.84608076, 0.78125   ],
       [0.79078483, 0.98709086, 0.88836105, 0.8671875 ],
       [0.86669606, 0.99207031, 0.88836105, 0.890625  ],
       ...,
       [0.72964433, 0.98299889, 0.83135392, 0.84765625],
       [0.71288948, 0.98145901, 0.84180523, 0.84765625],
       [0.80614345, 0.98819421, 0.89928741, 0.91015625]])

In [13]:
sj_train_labels_scaled.shape

(936, 1)

In [14]:
sj_train_labels

                 total_cases week_start_date
year weekofyear
1990 18                    4      1990-04-30
     19                    5      1990-05-07
     20                    4      1990-05-14
     21                    3      1990-05-21
     22                    6      1990-05-28
...                      ...             ...
2008 13                    4      2008-03-25
     14                    3      2008-04-01
     15                    1      2008-04-08
     16                    3      2008-04-15
     17                    5      2008-04-22

[936 rows x 2 columns]

In [15]:
#incoperating time steps into data

X_train = []
y_train = []
for i in range(0, 936):
    X_train.append(sj_train_features_scaled[i,:])
    y_train.append(sj_train_labels_scaled[i,0])
X_train, y_train = np.array(X_train), np.array(y_train)
X_train = np.reshape(X_train, (X_train.shape[0], 1, X_train.shape[1]))

In [16]:
X_train.shape

(936, 1, 4)

In [17]:
X_train[1:].shape

(935, 1, 4)

In [18]:
#Model

from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import Dense

model = Sequential()
model.add(LSTM(units=50,return_sequences=True,input_shape=(1, X_train.shape[2])))
model.add(Dropout(0.2))
model.add(LSTM(units=50))
model.add(Dropout(0.2))
model.add(Dense(1))
model.compile(optimizer='adam',loss='mean_squared_error')
model.fit(X_train[:700],y_train[:700],epochs=100,batch_size=32, 
          validation_data=(X_train[700:], y_train[700:]))
model.save('LSTM_SJ_selectfeatures.h5')

Train on 700 samples, validate on 236 samples
Epoch 1/100
700/700 [==============================] - 2s 3ms/step - loss: 0.0162 - val_loss: 0.0063
Epoch 2/100
700/700 [==============================] - 0s 156us/step - loss: 0.0154 - val_loss: 0.0047
Epoch 3/100
700/700 [==============================] - 0s 135us/step - loss: 0.0151 - val_loss: 0.0048
Epoch 4/100
700/700 [==============================] - 0s 133us/step - loss: 0.0150 - val_loss: 0.0045
Epoch 5/100
700/700 [==============================] - 0s 131us/step - loss: 0.0151 - val_loss: 0.0046
Epoch 6/100
700/700 [==============================] - 0s 123us/step - loss: 0.0151 - val_loss: 0.0042
Epoch 7/100
700/700 [==============================] - 0s 146us/step - loss: 0.0151 - val_loss: 0.0044
Epoch 8/100
700/700 [==============================] - 0s 174us/step - loss: 0.0150 - val_loss: 0.0051
Epoch 9/100
700/700 [==============================] - 0s 155us/step - loss: 0.0151 - val_loss: 0.0044
Epoch 10/100
700/700 [==============================] - 0s 148us/step - loss: 0.0150 - val_loss: 0.0045
Epoch 11/100
700/700 [==============================] - 0s 154us/step - loss: 0.0153 - val_loss: 0.0060
Epoch 12/100
700/700 [==============================] - 0s 169us/step - loss: 0.0151 - val_loss: 0.0047
Epoch 13/100
700/700 [==============================] - 0s 177us/step - loss: 0.0152 - val_loss: 0.0043
Epoch 14/100
700/700 [==============================] - 0s 166us/step - loss: 0.0150 - val_loss: 0.0048
Epoch 15/100
700/700 [==============================] - 0s 178us/step - loss: 0.0150 - val_loss: 0.0046
Epoch 16/100
700/700 [==============================] - 0s 166us/step - loss: 0.0150 - val_loss: 0.0048
Epoch 17/100
700/700 [==============================] - 0s 165us/step - loss: 0.0150 - val_loss: 0.0043
Epoch 18/100
700/700 [==============================] - 0s 199us/step - loss: 0.0151 - val_loss: 0.0053
Epoch 19/100
700/700 [==============================] - 0s 198us/step - loss: 0.0148 - val_loss: 0.0040
Epoch 20/100
700/700 [==============================] - 0s 181us/step - loss: 0.0150 - val_loss: 0.0049
Epoch 21/100
700/700 [==============================] - 0s 144us/step - loss: 0.0150 - val_loss: 0.0048
Epoch 22/100
700/700 [==============================] - 0s 180us/step - loss: 0.0151 - val_loss: 0.0045
Epoch 23/100
700/700 [==============================] - 0s 162us/step - loss: 0.0148 - val_loss: 0.0042
Epoch 24/100
700/700 [==============================] - 0s 188us/step - loss: 0.0150 - val_loss: 0.0043
Epoch 25/100
700/700 [==============================] - 0s 163us/step - loss: 0.0149 - val_loss: 0.0044
Epoch 26/100
700/700 [==============================] - 0s 178us/step - loss: 0.0150 - val_loss: 0.0038
Epoch 27/100
700/700 [==============================] - 0s 189us/step - loss: 0.0150 - val_loss: 0.0043
Epoch 28/100
700/700 [==============================] - 0s 177us/step - loss: 0.0149 - val_loss: 0.0049
Epoch 29/100
700/700 [==============================] - 0s 174us/step - loss: 0.0150 - val_loss: 0.0041
Epoch 30/100
700/700 [==============================] - 0s 184us/step - loss: 0.0148 - val_loss: 0.0048
Epoch 31/100
700/700 [==============================] - 0s 168us/step - loss: 0.0149 - val_loss: 0.0050
Epoch 32/100
700/700 [==============================] - 0s 170us/step - loss: 0.0150 - val_loss: 0.0043
Epoch 33/100
700/700 [==============================] - 0s 158us/step - loss: 0.0149 - val_loss: 0.0040
Epoch 34/100
700/700 [==============================] - 0s 198us/step - loss: 0.0150 - val_loss: 0.0052
Epoch 35/100
700/700 [==============================] - 0s 176us/step - loss: 0.0150 - val_loss: 0.0054
Epoch 36/100
700/700 [==============================] - 0s 155us/step - loss: 0.0150 - val_loss: 0.0045
Epoch 37/100
700/700 [==============================] - 0s 165us/step - loss: 0.0148 - val_loss: 0.0042
Epoch 38/100
700/700 [==============================] - 0s 170us/step - loss: 0.0149 - val_loss: 0.0049
Epoch 39/100
700/700 [==============================] - 0s 176us/step - loss: 0.0148 - val_loss: 0.0045
Epoch 40/100
700/700 [==============================] - 0s 171us/step - loss: 0.0149 - val_loss: 0.0036
Epoch 41/100
700/700 [==============================] - 0s 174us/step - loss: 0.0150 - val_loss: 0.0039
Epoch 42/100
700/700 [==============================] - 0s 177us/step - loss: 0.0149 - val_loss: 0.0053
Epoch 43/100
700/700 [==============================] - 0s 171us/step - loss: 0.0150 - val_loss: 0.0038
Epoch 44/100
700/700 [==============================] - 0s 165us/step - loss: 0.0149 - val_loss: 0.0044
Epoch 45/100
700/700 [==============================] - 0s 168us/step - loss: 0.0148 - val_loss: 0.0050
Epoch 46/100
700/700 [==============================] - 0s 168us/step - loss: 0.0149 - val_loss: 0.0045
Epoch 47/100
700/700 [==============================] - 0s 149us/step - loss: 0.0148 - val_loss: 0.0048
Epoch 48/100
700/700 [==============================] - 0s 153us/step - loss: 0.0149 - val_loss: 0.0047
Epoch 49/100
700/700 [==============================] - 0s 151us/step - loss: 0.0148 - val_loss: 0.0041
Epoch 50/100
700/700 [==============================] - 0s 167us/step - loss: 0.0149 - val_loss: 0.0036
Epoch 51/100
700/700 [==============================] - 0s 146us/step - loss: 0.0148 - val_loss: 0.0050
Epoch 52/100
700/700 [==============================] - 0s 162us/step - loss: 0.0147 - val_loss: 0.0041
Epoch 53/100
700/700 [==============================] - 0s 164us/step - loss: 0.0148 - val_loss: 0.0043
Epoch 54/100
700/700 [==============================] - 0s 123us/step - loss: 0.0149 - val_loss: 0.0036
Epoch 55/100
700/700 [==============================] - 0s 139us/step - loss: 0.0150 - val_loss: 0.0043
Epoch 56/100
700/700 [==============================] - 0s 145us/step - loss: 0.0149 - val_loss: 0.0058
Epoch 57/100
700/700 [==============================] - 0s 151us/step - loss: 0.0150 - val_loss: 0.0037
Epoch 58/100
700/700 [==============================] - 0s 159us/step - loss: 0.0148 - val_loss: 0.0041
Epoch 59/100
700/700 [==============================] - 0s 156us/step - loss: 0.0147 - val_loss: 0.0037
Epoch 60/100
700/700 [==============================] - 0s 174us/step - loss: 0.0148 - val_loss: 0.0039
Epoch 61/100
700/700 [==============================] - 0s 177us/step - loss: 0.0148 - val_loss: 0.0056
Epoch 62/100
700/700 [==============================] - 0s 179us/step - loss: 0.0149 - val_loss: 0.0040
Epoch 63/100
700/700 [==============================] - 0s 172us/step - loss: 0.0147 - val_loss: 0.0042
Epoch 64/100
700/700 [==============================] - 0s 168us/step - loss: 0.0148 - val_loss: 0.0037
Epoch 65/100
700/700 [==============================] - 0s 158us/step - loss: 0.0148 - val_loss: 0.0041
Epoch 66/100
700/700 [==============================] - 0s 144us/step - loss: 0.0148 - val_loss: 0.0050
Epoch 67/100
700/700 [==============================] - 0s 146us/step - loss: 0.0149 - val_loss: 0.0050
Epoch 68/100
700/700 [==============================] - 0s 204us/step - loss: 0.0147 - val_loss: 0.0037
Epoch 69/100
700/700 [==============================] - 0s 171us/step - loss: 0.0148 - val_loss: 0.0054
Epoch 70/100
700/700 [==============================] - 0s 174us/step - loss: 0.0148 - val_loss: 0.0039
Epoch 71/100
700/700 [==============================] - 0s 241us/step - loss: 0.0147 - val_loss: 0.0045
Epoch 72/100
700/700 [==============================] - 0s 187us/step - loss: 0.0148 - val_loss: 0.0039
Epoch 73/100
700/700 [==============================] - 0s 175us/step - loss: 0.0150 - val_loss: 0.0040
Epoch 74/100
700/700 [==============================] - 0s 178us/step - loss: 0.0148 - val_loss: 0.0044
Epoch 75/100
700/700 [==============================] - 0s 179us/step - loss: 0.0150 - val_loss: 0.0049
Epoch 76/100
700/700 [==============================] - 0s 177us/step - loss: 0.0148 - val_loss: 0.0041
Epoch 77/100
700/700 [==============================] - 0s 174us/step - loss: 0.0147 - val_loss: 0.0041
Epoch 78/100
700/700 [==============================] - 0s 177us/step - loss: 0.0149 - val_loss: 0.0036
Epoch 79/100

700/700 [==============================] - 0s 174us/step - loss: 0.0146 - val_loss: 0.0045
Epoch 80/100
700/700 [==============================] - 0s 168us/step - loss: 0.0147 - val_loss: 0.0042
Epoch 81/100
700/700 [==============================] - 0s 192us/step - loss: 0.0147 - val_loss: 0.0044
Epoch 82/100
700/700 [==============================] - 0s 173us/step - loss: 0.0147 - val_loss: 0.0037
Epoch 83/100
700/700 [==============================] - 0s 176us/step - loss: 0.0146 - val_loss: 0.0040
Epoch 84/100
700/700 [==============================] - 0s 152us/step - loss: 0.0147 - val_loss: 0.0057
Epoch 85/100
700/700 [==============================] - 0s 146us/step - loss: 0.0148 - val_loss: 0.0040
Epoch 86/100
700/700 [==============================] - 0s 176us/step - loss: 0.0147 - val_loss: 0.0036
Epoch 87/100
700/700 [==============================] - 0s 186us/step - loss: 0.0146 - val_loss: 0.0059
Epoch 88/100
700/700 [==============================] - 0s 165us/step - loss: 0.0151 - val_loss: 0.0033
Epoch 89/100
700/700 [==============================] - 0s 166us/step - loss: 0.0149 - val_loss: 0.0045
Epoch 90/100
700/700 [==============================] - 0s 153us/step - loss: 0.0147 - val_loss: 0.0044
Epoch 91/100
700/700 [==============================] - 0s 167us/step - loss: 0.0148 - val_loss: 0.0038
Epoch 92/100
700/700 [==============================] - 0s 158us/step - loss: 0.0147 - val_loss: 0.0044
Epoch 93/100
700/700 [==============================] - 0s 171us/step - loss: 0.0148 - val_loss: 0.0044
Epoch 94/100
700/700 [==============================] - 0s 162us/step - loss: 0.0147 - val_loss: 0.0046
Epoch 95/100
700/700 [==============================] - 0s 174us/step - loss: 0.0147 - val_loss: 0.0035
Epoch 96/100
700/700 [==============================] - 0s 177us/step - loss: 0.0151 - val_loss: 0.0051
Epoch 97/100
700/700 [==============================] - 0s 181us/step - loss: 0.0148 - val_loss: 0.0039
Epoch 98/100
700/700 [==============================] - 0s 176us/step - loss: 0.0148 - val_loss: 0.0045
Epoch 99/100
700/700 [==============================] - 0s 171us/step - loss: 0.0148 - val_loss: 0.0042
Epoch 100/100
700/700 [==============================] - 0s 183us/step - loss: 0.0146 - val_loss: 0.0046

In [19]:
# if model exist, just load it
# model = load_model('LSTM_SJ.h5')

In [21]:
sj_test_features = sj_test_features[select_features]

In [22]:
#pre processing for test data
sj_test_features_scaled = sc_X.fit_transform(sj_test_features.drop(columns = ["week_start_date"]))

In [23]:
sj_test_features_scaled.shape

(260, 4)

In [24]:
X_test = []
for i in range(0, 260):
    X_test.append(sj_test_features_scaled[i,:])
X_test = np.array(X_test)
X_test = np.reshape(X_test, (X_test.shape[0], 1, X_test.shape[1]))

In [25]:
predictions = model.predict(X_test)

In [26]:
predictions

array([[0.07753833],
       [0.07792355],
       [0.08598428],
       [0.08279958],
       [0.08302355],
       [0.09159826],
       [0.09014092],
       [0.09604876],
       [0.09688129],
       [0.10090372],
       [0.09318823],
       [0.10177813],
       [0.10036403],
       [0.0991215 ],
       [0.10419928],
       [0.10586327],
       [0.10380685],
       [0.10736857],
       [0.11158618],
       [0.10561958],
       [0.10597491],
       [0.09729615],
       [0.09875204],
       [0.09784058],
       [0.09424165],
       [0.09296322],
       [0.09004045],
       [0.10024704],
       [0.09417269],
       [0.09115163],
       [0.08232786],
       [0.06284998],
       [0.06968036],
       [0.07389942],
       [0.06255312],
       [0.07568748],
       [0.06254719],
       [0.07501194],
       [0.07468866],
       [0.07789323],
       [0.07140693],
       [0.06757025],
       [0.06163237],
       [0.06010191],
       [0.06632878],
       [0.06036894],
       [0.05406292],
       [0.06039494],
       [0.05485725],
       [0.06422611],
       [0.07034759],
       [0.07126904],
       [0.07476664],
       [0.07113756],
       [0.08488607],
       [0.08180732],
       [0.09862958],
       [0.09004525],
       [0.09183402],
       [0.09721975],
       [0.09352528],
       [0.10243839],
       [0.09823313],
       [0.10703394],
       [0.10346159],
       [0.10170062],
       [0.10369797],
       [0.10353021],
       [0.1061466 ],
       [0.11170438],
       [0.10105935],
       [0.10141338],
       [0.10299619],
       [0.09845891],
       [0.10881978],
       [0.11033265],
       [0.11044717],
       [0.1043727 ],
       [0.09797548],
       [0.09453925],
       [0.09209859],
       [0.09694637],
       [0.09788007],
       [0.08855268],
       [0.08861221],
       [0.08528513],
       [0.08190453],
       [0.07568748],
       [0.07940575],
       [0.07399638],
       [0.08297748],
       [0.08339613],
       [0.06168655],
       [0.06942836],
       [0.07662204],
       [0.078109  ],
       [0.09086343],
       [0.07436045],
       [0.07608865],
       [0.08793679],
       [0.08476661],
       [0.07093799],
       [0.06902866],
       [0.08476166],
       [0.09885812],
       [0.09542434],
       [0.09013389],
       [0.09888764],
       [0.09909598],
       [0.11360626],
       [0.11042695],
       [0.10652697],
       [0.10337815],
       [0.10534704],
       [0.10975042],
       [0.10959108],
       [0.1051566 ],
       [0.10422119],
       [0.10885851],
       [0.11090861],
       [0.11015484],
       [0.11105411],
       [0.10968705],
       [0.1115842 ],
       [0.10960002],
       [0.10719538],
       [0.10492624],
       [0.10874777],
       [0.10968275],
       [0.10251946],
       [0.09276232],
       [0.09245334],
       [0.09783919],
       [0.08301778],
       [0.0715773 ],
       [0.06672224],
       [0.04971465],
       [0.08257508],
       [0.07086484],
       [0.06958154],
       [0.06212499],
       [0.07623771],
       [0.07745963],
       [0.07215726],
       [0.06636017],
       [0.06940782],
       [0.07446393],
       [0.07234626],
       [0.05472711],
       [0.06044038],
       [0.05049158],
       [0.05795766],
       [0.07048737],
       [0.07873398],
       [0.06833792],
       [0.0723277 ],
       [0.07224251],
       [0.08417605],
       [0.07142   ],
       [0.08131403],
       [0.08983228],
       [0.10151163],
       [0.09375148],
       [0.10802052],
       [0.1033496 ],
       [0.10267063],
       [0.10531065],
       [0.1027372 ],
       [0.09823701],
       [0.11042683],
       [0.10290743],
       [0.10655618],
       [0.10301346],
       [0.10985306],
       [0.1035316 ],
       [0.10293818],
       [0.11029717],
       [0.09963247],
       [0.10460249],
       [0.10512348],
       [0.09759483],
       [0.09580114],
       [0.08984954],
       [0.09803911],
       [0.09376243],
       [0.09533907],
       [0.09130527],
       [0.08691196],
       [0.07539526],
       [0.08536717],
       [0.06578728],
       [0.06947748],
       [0.0759177 ],
       [0.07323603],
       [0.06897913],
       [0.06312986],
       [0.06289112],
       [0.06774686],
       [0.06998205],
       [0.06434466],
       [0.0678582 ],
       [0.07101594],
       [0.06862414],
       [0.06497833],
       [0.07301737],
       [0.07898691],
       [0.08136159],
       [0.07864542],
       [0.0680202 ],
       [0.08966102],
       [0.0838742 ],
       [0.09766006],
       [0.09564364],
       [0.08618756],
       [0.09825088],
       [0.09779057],
       [0.10367917],
       [0.10393742],
       [0.10117999],
       [0.09794661],
       [0.10614602],
       [0.1068961 ],
       [0.10271402],
       [0.10451081],
       [0.10442729],
       [0.10810399],
       [0.10089941],
       [0.10246436],
       [0.10027532],
       [0.10281975],
       [0.1062564 ],
       [0.10266984],
       [0.09969568],
       [0.10493871],
       [0.10341433],
       [0.10415511],
       [0.10069587],
       [0.09758869],
       [0.10053939],
       [0.0913967 ],
       [0.08653203],
       [0.07822871],
       [0.07333256],
       [0.07784174],
       [0.07376241],
       [0.06369988],
       [0.06598023],
       [0.07406946],
       [0.06364884],
       [0.063833  ],
       [0.06274416],
       [0.06744294],
       [0.06562825],
       [0.0587578 ],
       [0.05288859],
       [0.08051018],
       [0.07990296],
       [0.08348091],
       [0.08309153],
       [0.07381203]], dtype=float32)

In [27]:
predictions = sc_Y.inverse_transform(predictions)

In [28]:
sj_submission = submission_format.loc["sj"]
# sj_submission["total_cases"] = predictions
# sj_submission = predictions_submission.reset_index()
# sj_submission.insert(0, 'city', 'sj')

# predictions.shape
sj_submission

                 total_cases
year weekofyear
2008 18                    0
     19                    0
     20                    0
     21                    0
     22                    0
...                      ...
2013 13                    0
     14                    0
     15                    0
     16                    0
     17                    0

[260 rows x 1 columns]

In [29]:
sj_submission["total_cases"] = predictions

In [30]:
sj_submission.insert(0, 'city', 'sj')

In [31]:
sj_submission

                city  total_cases
year weekofyear
2008 18           sj    35.745167
     19           sj    35.922756
     20           sj    39.638756
     21           sj    38.170609
     22           sj    38.273857
...              ...          ...
2013 13           sj    37.115196
     14           sj    36.835266
     15           sj    38.484699
     16           sj    38.305195
     17           sj    34.027348

[260 rows x 2 columns]

In [32]:
sj_submission.reset_index()

     year  weekofyear city  total_cases
0    2008          18   sj    35.745167
1    2008          19   sj    35.922756
2    2008          20   sj    39.638756
3    2008          21   sj    38.170609
4    2008          22   sj    38.273857
..    ...         ...  ...          ...
255  2013          13   sj    37.115196
256  2013          14   sj    36.835266
257  2013          15   sj    38.484699
258  2013          16   sj    38.305195
259  2013          17   sj    34.027348

[260 rows x 4 columns]

In [34]:
sj_submission.to_csv("LSTMsj_selectfeatures.csv")