In [1]:
import numpy as np
import pandas as pd
from keras.models import load_model

Using TensorFlow backend.

In [2]:
test_features = pd.read_csv("dengue_features_test.csv", index_col=[0,1,2]) 
train_features = pd.read_csv("dengue_features_train.csv", index_col=[0,1,2]) 
train_labels = pd.read_csv("dengue_labels_train.csv", index_col=[0,1,2]) 
submission_format = pd.read_csv("submission_format.csv", index_col=[0,1,2])

In [3]:
select_features = ['reanalysis_specific_humidity_g_per_kg', 
                 'reanalysis_dew_point_temp_k', 
                 'station_avg_temp_c', 
                 'station_min_temp_c', 'week_start_date']

## Only SJ Columns

In [4]:
# Seperate data for San Juan
sj_train_features = train_features.loc['sj']
sj_train_labels = train_labels.loc["sj"]
sj_test_features = test_features.loc["sj"]

In [5]:
#removing NaNs
sj_train_features.fillna(0, inplace=True)
sj_test_features.fillna(0, inplace=True)

c:\users\milla\projects\databears\lib\site-packages\pandas\core\frame.py:4259: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

In [6]:
sj_train_features.set_index("week_start_date")
sj_test_features.set_index("week_start_date")

,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_max_air_temp_k,reanalysis_min_air_temp_k,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
week_start_date,,,,,,,,,,,,,,,,,,,,
2008-04-29,-0.01890,-0.018900,0.102729,0.091200,78.60,298.492857,298.550000,294.527143,301.1,296.4,25.37,78.781429,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2
2008-05-06,-0.01800,-0.012400,0.082043,0.072314,12.56,298.475714,298.557143,294.395714,300.8,296.7,21.83,78.230000,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3
2008-05-13,-0.00150,0.000000,0.151083,0.091529,3.66,299.455714,299.357143,295.308571,302.2,296.4,4.12,78.270000,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0
2008-05-20,0.00000,-0.019867,0.124329,0.125686,0.00,299.690000,299.728571,294.402857,303.0,296.9,2.20,73.015714,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3
2008-05-27,0.05680,0.039833,0.062267,0.075914,0.76,299.780000,299.671429,294.760000,302.3,297.3,4.36,74.084286,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-03-26,-0.08740,-0.016183,0.156343,0.105186,30.34,298.670000,298.885714,294.675714,301.3,296.4,2.55,78.780000,30.34,15.985714,3.314286,27.542857,7.942857,33.9,22.8,3.5
2013-04-02,-0.20325,-0.077833,0.204171,0.178914,6.55,298.035714,298.157143,294.628571,301.5,295.9,64.30,81.650000,6.55,15.881429,2.828571,26.642857,6.642857,33.3,22.8,17.6
2013-04-09,-0.11760,-0.008200,0.192700,0.170429,0.00,299.057143,299.328571,294.948571,301.5,297.5,0.70,78.285714,0.00,16.212857,3.171429,27.914286,8.114286,32.8,23.3,9.4
2013-04-16,0.08275,0.031200,0.135014,0.074857,0.00,298.912857,299.064286,294.678571,300.9,297.3,1.40,77.674286,0.00,15.965714,3.042857,27.728571,6.942857,31.7,23.9,22.9
2013-04-23,-0.08730,-0.048667,0.129814,0.117671,45.47,298.067143,298.042857,294.132857,300.2,296.6,19.90,79.045714,45.47,15.451429,2.342857,26.442857,6.742857,31.1,21.7,47.5

In [7]:
#removing NaNs - test

sj_train_features.isnull().sum()
# sj_train_features

week_start_date                          0
ndvi_ne                                  0
ndvi_nw                                  0
ndvi_se                                  0
ndvi_sw                                  0
precipitation_amt_mm                     0
reanalysis_air_temp_k                    0
reanalysis_avg_temp_k                    0
reanalysis_dew_point_temp_k              0
reanalysis_max_air_temp_k                0
reanalysis_min_air_temp_k                0
reanalysis_precip_amt_kg_per_m2          0
reanalysis_relative_humidity_percent     0
reanalysis_sat_precip_amt_mm             0
reanalysis_specific_humidity_g_per_kg    0
reanalysis_tdtr_k                        0
station_avg_temp_c                       0
station_diur_temp_rng_c                  0
station_max_temp_c                       0
station_min_temp_c                       0
station_precip_mm                        0
dtype: int64

In [8]:
sj_train_labels["week_start_date"] = sj_train_features["week_start_date"]

In [9]:
sj_train_labels.set_index("week_start_date")

                 total_cases
week_start_date
1990-04-30                 4
1990-05-07                 5
1990-05-14                 4
1990-05-21                 3
1990-05-28                 6
...                      ...
2008-03-25                 4
2008-04-01                 3
2008-04-08                 1
2008-04-15                 3
2008-04-22                 5

[936 rows x 1 columns]

In [10]:
sj_train_features = sj_train_features[select_features]

In [11]:
# data normalization
from sklearn.preprocessing import MinMaxScaler
sc_X = MinMaxScaler(feature_range=(0,1))
sc_Y = MinMaxScaler(feature_range=(0,1))
sj_train_features_scaled = sc_X.fit_transform(sj_train_features.drop(columns = ["week_start_date"]))
sj_train_labels_scaled = sc_Y.fit_transform(np.reshape(sj_train_labels["total_cases"].tolist(), (936, 1)))

In [12]:
sj_train_features_scaled

array([[0.72082598, 0.98192913, 0.84608076, 0.78125   ],
       [0.79078483, 0.98709086, 0.88836105, 0.8671875 ],
       [0.86669606, 0.99207031, 0.88836105, 0.890625  ],
       ...,
       [0.72964433, 0.98299889, 0.83135392, 0.84765625],
       [0.71288948, 0.98145901, 0.84180523, 0.84765625],
       [0.80614345, 0.98819421, 0.89928741, 0.91015625]])

In [13]:
sj_train_labels_scaled.shape

(936, 1)

In [14]:
sj_train_labels

                 total_cases week_start_date
year weekofyear
1990 18                    4      1990-04-30
     19                    5      1990-05-07
     20                    4      1990-05-14
     21                    3      1990-05-21
     22                    6      1990-05-28
...                      ...             ...
2008 13                    4      2008-03-25
     14                    3      2008-04-01
     15                    1      2008-04-08
     16                    3      2008-04-15
     17                    5      2008-04-22

[936 rows x 2 columns]

In [15]:
#incoperating time steps into data

X_train = []
y_train = []
for i in range(0, 936):
    X_train.append(sj_train_features_scaled[i,:])
    y_train.append(sj_train_labels_scaled[i,0])
X_train, y_train = np.array(X_train), np.array(y_train)
X_train = np.reshape(X_train, (X_train.shape[0], 1, X_train.shape[1]))

In [16]:
X_train.shape

(936, 1, 4)

In [17]:
X_train[1:].shape

(935, 1, 4)

In [18]:
#Model

from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import Dense

model = Sequential()
model.add(LSTM(units=50,return_sequences=True,input_shape=(1, X_train.shape[2])))
model.add(Dropout(0.2))
model.add(LSTM(units=50))
model.add(Dropout(0.2))
model.add(Dense(1))
model.compile(optimizer='adam',loss='mean_absolute_error', metrics=metrics.mae)
model.fit(X_train[:700],y_train[:700],epochs=200,batch_size=32, 
          validation_data=(X_train[700:], y_train[700:]))
model.save('LSTM_SJ_selectfeatures_tinkered.h5')

ValueError: Input 0 is incompatible with layer lstm_3: expected ndim=3, found ndim=2

In [ ]:
# if model exist, just load it
# model = load_model('LSTM_SJ.h5')

In [ ]:
sj_test_features = sj_test_features[select_features]

In [ ]:
#pre processing for test data
sj_test_features_scaled = sc_X.fit_transform(sj_test_features.drop(columns = ["week_start_date"]))

In [ ]:
sj_test_features_scaled.shape

In [ ]:
X_test = []
for i in range(0, 260):
    X_test.append(sj_test_features_scaled[i,:])
X_test = np.array(X_test)
X_test = np.reshape(X_test, (X_test.shape[0], 1, X_test.shape[1]))

In [ ]:
predictions = model.predict(X_test)

In [ ]:
predictions

In [ ]:
predictions = sc_Y.inverse_transform(predictions)

In [ ]:
sj_submission = submission_format.loc["sj"]
# sj_submission["total_cases"] = predictions
# sj_submission = predictions_submission.reset_index()
# sj_submission.insert(0, 'city', 'sj')

# predictions.shape
sj_submission

In [ ]:
sj_submission["total_cases"] = predictions

In [ ]:
sj_submission.insert(0, 'city', 'sj')

In [ ]:
sj_submission

In [ ]:
sj_submission.reset_index()

In [ ]:
sj_submission.to_csv("LSTMsj_selectfeatures_tinkered.csv")